@use '@/styles/variables' as *;

.section-card-wrapper{
    border-radius: $border-radius-md;
    border: 1px solid $color-gray-200;
 .section-card-header{
        display: flex;
        align-items: center;
        padding:15px;
        background-color: $color-white;
        border-radius: $border-radius-md $border-radius-md 0 0;
        justify-content: space-between;
    &>div{

        display: flex;
        align-items: center;
        gap: 10px;
        .section-card-title{
            color: $color-black-100;
            font-weight: 500;
            font-size: $font-size-lg;
            margin-bottom: 0;
    
        }
        svg{
            width: 20px;
            height: 20px;
        }
    }
     button{
        color: $color-primary;
        min-width: 150px;
        margin-top: 10px;
        border: 0;
        background-color: $move-background-color;
    }
 }   
 .section-card-body{
    border-top: 1px solid $color-gray-200;
     background-color: $color-white;
    border-radius:0 0 $border-radius-md $border-radius-md;
    padding: 20px;
 }
}