@use '@/styles/variables' as *;

.date-time-display {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
        color: $text-primary-color;
        font-size: 16px;
    }

    &-icon {
        svg {
            width: 35px;
            height: 35px;
        }
    }
}

.date-time-display-d {
    display: flex;
    align-items: center;
    position: relative;
    &-text {
        font-size: 22px;
        font-weight: 600;
        color: $text-primary-color;
    }
    &-c {
        font-size: 12px;
        font-weight: 600;
            html[dir='rtl'] &  {
                right: unset;
                left: 0;
            }
    }
}