@use '@/styles/variables' as *;
.nav-menu-toggle{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #e8e8e8;
    cursor: pointer;
}