@mixin flex-bar-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-bar-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-bar-start {
    display: flex;
    align-items: center;
    justify-content: start;
}

@mixin flex-bar-end {
    display: flex;
    align-items: center;
    justify-content: end;
}

@mixin img-property {
    width: auto;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
}