/* Janna LT */
@font-face {
    font-family: "Janna LT";
    src: url("/fonts/Arabic Fonts/Arabic Fonts/Janna/Janna LT Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Janna LT";
    src: url("/fonts/Arabic Fonts/Arabic Fonts/Janna/Janna LT Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* TheMixArabic */
@font-face {
    font-family: "TheMixArabic";
    src: url("/fonts/Arabic Fonts/Arabic Fonts/TheMixArabic/TheMixArabic-Plain.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TheMixArabic";
    src: url("/fonts/Arabic Fonts/Arabic Fonts/TheMixArabic/TheMixArabic-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Myriad Pro */
@font-face {
    font-family: "Myriad Pro";
    src: url("/fonts/English Fonts/English Fonts/Myriad Pro/MyriadPro-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Myriad Pro";
    src: url("/fonts/English Fonts/English Fonts/Myriad Pro/MyriadPro-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Zilla Slab */
@font-face {
    font-family: "Zilla Slab";
    src: url("/fonts/English Fonts/English Fonts/zilla-slab/ZillaSlab-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Zilla Slab";
    src: url("/fonts/English Fonts/English Fonts/zilla-slab/ZillaSlab-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}