@use '@/styles/variables' as *;

.shared-table-container {
  overflow: hidden;

  .rdt_TableHeader {
    display: none;
  }

  .action-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    transition: background-color 0.2s;
  }

  tr:hover .action-button {
    opacity: 1;
  }

  .action-button {
    opacity: 0.7;
  }

  th {
    padding: 8px;
    background-color: $color-gray-100;
    color: $color-gray-400;
    text-align: left;
    cursor: pointer;
    user-select: none;

    html[dir='rtl'] & {
      text-align: right;
    }
  }

  td {
    padding: 8px;
  }

  .status-dot {
    &__Active {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $alert-green-color;
      margin-inline-end: .5rem;
    }

    &__Not-Active {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $alert-red-color;
      margin-inline-end: .5rem;
    }

    &__Draft {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $alert-yellow-color;
      margin-inline-end: .5rem;
    }

    &__Closed {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $color-gray-700;
      margin-inline-end: .5rem;
    }
  }

  .visibility-cell {
    display: flex;
    align-items: flex-start;
    align-items: center;

    .visibility-dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 15px;

      html[dir='rtl'] & {
        margin-left: 15px;
        margin-right: unset;
      }
    }
  }

  .actions-icons-container {
    display: flex;

    .action-icon {
      cursor: pointer;
      margin-inline-start: 5px;
    }
  }
}

.shared-table-container {
  table {
    thead {
      border-top: 1px solid $btn-icon-border-color;
      border-bottom: 1px solid $btn-icon-border-color;

      th {
        font-weight: 500;
        font-size: 15px;
      }
    }

    tbody {
      tr {

        border-bottom: 1px solid $btn-icon-border-color;

        td {
          font-size: 13px;
          font-weight: 500;
        }
      }

    }
  }
}

.reoder-icon {
  display: flex;
  align-items: center;
}

.actions-icons-container {
  svg {
    width: 30px;
    height: 30px;
  }
}