@use '@/styles/variables' as *;
.search-box{
    position: relative;
    display: flex;
    align-items: center;
    width: 400px;
    height: 40px;
    border-radius:8px ;
    gap: 10px;

    &-icon{
        position: absolute;
        margin-left: 1rem ;
        transform: translateY(-50%);
        top: 50% ;
       font-size: 1.5rem ;

       svg{
        width: 20px;
        height: 20px;
       }
       
    }
    input{
        width: 100%;
        height: 100%;
        border: none;
        background-color: $color-gray-300;
        color: $color-gray-700;
        font-size: 16px;
        padding: 15px 50px;

        &:focus {
            outline: none;
            background-color: $color-gray-200;
        }
    }
}
