@use '@/styles/variables' as *;

.single-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  border-radius: $border-radius-sm;
  transition: background-color 0.2s;
  white-space: nowrap;
  background: $color-white;
  border: 1px solid $color-gray-50;
  transition: $transition;

  svg {
    fill: $text-secondary-color;
  }

  .tab-content-text {
    color: $text-secondary-color;
  }

  &:hover {
    background-color: rgba($color-primary, 0.1);

    svg {
      fill: $color-primary;
    }

    .tab-content-text {
      color: $color-primary;
    }
  }

  &.active {
    background-color: rgba($color-primary, 0.1);
    border: 1px solid $color-primary;
    color: $color-primary;

    svg {
      fill: $color-primary;
    }

    .tab-content-text {
      color: $color-primary;
    }
  }

  .tab-content {
    display: flex;
    align-items: center;
    i {
      margin-right: 0.5rem;
      color: #6c757d;
    }
  }

  .options-btn {
    margin-left: 0.75rem;
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }
  }
}