@use '@/styles/variables' as *;

.side-bar-container {
  width: 72px;
  height: 100vh;
  background: $color-white;
  border-inline-end: 1px solid #e8e8e8;
}

.sideBar_sec {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 15px;
  .logo {
    width: 35px;
    height: 44px;
    margin: 0 auto;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.sidbar-list {
  width: 100%;
  margin: 30px auto;
  ul {
    li {
      position: relative;
      width: 40px;
      height: 40px;
      margin: 20px auto;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      &.active {
        background: #ebe2f5;
        border-radius: 6px;
        &:before {
          content: "";
          position: absolute;
          top: 5px;
          width: 5px;
          height: 30px;
          background: $color-primary;

          [dir="ltr"] & {
            left: -15px;
            border-radius: 0 6px 6px 0;
          }
          [dir="rtl"] & {
            right: -15px;
            border-radius: 6px 0 0 6px;
          }
        }
        .link_page svg {
          fill: $color-primary;
        }
      }
      .link_page {
        position: relative;
        width: 100%;
        height: 100%;
        &:hover {
          .icon_name {
            transition: 0.3s ease-in-out;
            opacity: 1;
            visibility: visible;
            [dir="ltr"] & {
              left: 50px;
            }
            [dir="rtl"] & {
              right: 50px;
            }
          }
        }
        svg {
          width: 100%;
          height: 100%;
          padding: 8px;
          fill: #666666;
        }
        &.tab-config-icon svg {
          padding: 4px;
        }
        .icon_name {
          position: absolute;
          background: #333333;
          width: max-content;
          top: 0px;
          left: 60px;
          color: #fff;
          font-size: 12px;
          font-weight: 400;
          padding: 10px;
          transition: 0.3s ease-in-out;
          z-index: 9999;
          opacity: 0;
          visibility: hidden;
          border-radius: 6px;
          &:before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            top: 15px;
            background: #333333;
            transform: rotate(45deg);
            [dir="ltr"] & {
              left: -5px;
            }
            [dir="rtl"] & {
              right: -6px;
            }
          }
        }
      }
    }
  }
}
